@use "../../styles/variables.scss" as *;

.home {
  display: flex;
  padding-top: 9rem;
  height: 90vh;
  width: 100%;
  &__map-box {
    height: 100%;

    section {
      position: relative;
      margin-left: auto;
    }

    &__map-cont {
      // position: absolute;
      // z-index: -1;
    }

    &__network-cont {
      //
    }
    svg {
      width: 100%;
      max-height: 100vh;
      // height: fit-content;
    }
  }

  &__desc-box {
    position: relative;
    height: 100%;
    // background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__desc-cont {
      position: absolute;
      z-index: 1;
      h1 {
        font-size: $large;
      }
      header {
        display: flex;
        h1 {
          text-wrap: nowrap;
          span {
            display: block;
            position: relative;
            padding: 0.6rem 2rem;
            width: fit-content;
            line-height: 1em;
            border-radius: 0 0 0.6rem 0.6rem;
            &:first-of-type {
              border-radius: 0.6rem 0.6rem 0 0;
            }
            &:last-of-type {
              border-radius: 0rem 0.6rem 0.6rem 0.6rem;
            }
            background-color: #fcb01a1a;
          }
        }
        a {
          align-self: flex-end;
        }
        svg {
          width: 6rem;
          cursor: pointer;
        }
      }

      main {
        margin-block: 2rem 5rem;
        h1 {
          line-height: 1.3em;
          span {
            color: $color__yellow;
            &:first-of-type {
              margin-left: 1.4rem;
            }
          }
        }
      }
    }
    &__icon-cont {
      position: absolute;
      bottom: -10%;
      left: 0;
      right: 0;
      // background-color: aqua;
      svg {
        width: 100%;
        // height: fit-content;
      }
    }
  }

  &__get-page {
    padding-top: 9rem;
    margin-bottom: 33rem;
    display: grid;
    margin-block: auto;
    grid-template-columns: repeat(2, 1fr);
    // display: flex;
    &__icons-box {
      header {
        h1 {
          line-height: 1.1em;
        }
      }

      footer {
        display: flex;
        flex-wrap: wrap;
        div {
          display: flex;
          align-items: center;
          // background-color: red;
          margin-block: 2vw;
          // margin: 2rem;
          flex: 1 1 42%;

          svg {
            width: 23%;
          }
          label {
            font-size: $normal;
            margin-left: 2rem;
            font-weight: 700;
          }
        }
      }
      header,
      main,
      footer {
        margin-block: 3rem;
      }
      p {
        line-height: 1.5em;
        font-weight: 300;
        font-size: calc($normal + 0.1vw);
      }
      &__icons-cont {
        display: flex;
        width: 100%;
      }
    }

    &__desc-box {
      &__top-sec {
        display: grid;
        grid-template-columns: 58% 48%;
        column-gap: 2%;
        margin-block: 2rem;
      }

      &__bottom-sec {
        width: 100%;
      }
    }
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bigger_cursor {
  font-size: calc($large + 1vw);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}
