@use "../../styles/variables.scss" as *;

.home {
  display: flex;
  padding-top: 9rem;
  height: 90vh;
  width: 100%;
  &__map-box {
    height: 100%;
    // background-color: green;
    section {
      margin-left: auto;
      // margin-bottom: auto;
    }
    svg {
      width: 100%;
      max-height: 100vh;
      // height: fit-content;
    }
  }

  &__desc-box {
    position: relative;
    height: 100%;
    // background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__desc-cont {
      position: absolute;
      z-index: 1;
      h1 {
        font-size: $large;
      }
      header {
        display: flex;
        h1 {
          text-wrap: nowrap;
          span {
            display: block;
            position: relative;
            padding: 0.6rem 2rem;
            width: fit-content;
            line-height: 1em;
            border-radius: 0 0 0.6rem 0.6rem;
            &:first-of-type {
              border-radius: 0.6rem 0.6rem 0 0;
            }
            &:last-of-type {
              border-radius: 0rem 0.6rem 0.6rem 0.6rem;
            }
            background-color: #fcb01a1a;
          }
        }
        a {
          align-self: flex-end;
        }
        svg {
          width: 6rem;
          cursor: pointer;
        }
      }

      main {
        margin-block: 2rem 5rem;
        h1 {
          line-height: 1.3em;
          span {
            color: $color__yellow;
            &:first-of-type {
              margin-left: 1.4rem;
            }
          }
        }
      }
    }
    &__icon-cont {
      position: absolute;
      bottom: -10%;
      left: 0;
      right: 0;
      // background-color: aqua;
      svg {
        width: 100%;
        // height: fit-content;
      }
    }
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bigger_cursor {
  font-size: calc($large + 1vw);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}
