.social-icon {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 3%;
  left: 2%;

  &__item-box {
    width: fit-content;
    height: fit-content;
    &:not(:last-of-type) {
      margin-bottom: 3.3rem;
    }
  }
}
