.social-icon {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  // top: 73%;
  bottom: 7%;
  left: 2%;

  &__item-box {
    width: fit-content;
    height: fit-content;
    &:not(:last-of-type) {
      margin-bottom: 2.3rem;
    }
  }
}
