@use "../../styles/variables.scss" as *;

.details {
  padding-top: 5rem;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__arrow-right-box {
    z-index: 1;
    margin-right: 2rem;
    position: absolute;
    right: 20px;
    top: 50%;
  }
  &__arrow-left-box {
    margin-left: 2rem;
    position: absolute;
    left: 10px;
    top: 50%;
  }
  h1 {
    line-height: 1.2em;
  }

  &__main-cont {
    height: 100%;
    position: relative;
    header {
      //   margin-block: 2.4rem;
      h1 {
        font-size: $extra__large;
      }
    }

    main {
      margin-block: 3.2rem;
      p {
        font-size: $normal;
        font-weight: 300;
        margin-block: 2rem;
        line-height: 1.5em;
      }
    }

    footer {
    }

    &__content-box {
      width: 50vw;
      margin-right: auto;
    }

    &__img-box {
      position: absolute;
      width: 100%;
      min-height: fit-content;
      height: 100vh;
      border-radius: 50%;
      top: 45%;
      left: 53%;
      background-image: linear-gradient(
        to right,
        rgba(252, 176, 26, 1),
        rgba(252, 176, 26, 0)
      );

      div {
        position: relative;
        height: 100%;
        label {
          font-size: calc($normal - 0.2vw);
          position: absolute;
          padding: 1.1rem;
          top: 35%;
          z-index: 2;
          display: inline-block;
          left: 33%;
          font-weight: 900;
          color: $color__white;
        }
        img {
          top: -39%;
          width: 60vw;
          z-index: 11;
          left: -9.5%;
          position: absolute;
        }
      }
    }
  }
}

.details__main-cont__img-box.fade-in-from-bottom.show::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(139deg, transparent, transparent, black);
  z-index: 1;
  right: 0;
  bottom: 50%;
  border-radius: 100%;
  
}
